<div class="dash rtl-rev">
    <a class="dash-btn save" [class.disabled]="!ig || formLoading" (click)="cmdSave.next(true)"><span>{{words['common']['save'][currentLang.slug]}}</span></a>
    <a class="dash-btn back" routerLink="/kitchen/ingredients"><span>{{words['common']['back'][currentLang.slug]}}</span></a>
</div>
<div class="data">
    <div class="dataedit">
        <the-ingredient
            *ngIf="ig"
            [x]="ig"
            [loading]="formLoading"
            [cmdSave]="cmdSave"
            (save)="update();"
        ></the-ingredient>
    </div>
</div>
