<div class="content">
  <div class="content-head">
    <h1>{{currentLang.phrases['workspace-units-h1']}} ({{allLength}})</h1>
    <div class="content-dash">
      <div class="cd-btn create" [title]="currentLang.phrases['workspace-create']" [routerLink]="homeUrl + '/create'">
        <span></span></div>
      <div [class]="canDeleteBulk ? 'cd-btn delete' : 'cd-btn delete disabled'"
           [title]="currentLang.phrases['workspace-deleteselected']" (click)="deleteBulk();"><span></span></div>
    </div>
  </div>
  <div class="data">
    <ng-container *ngIf="ready">
      <div class="data-langs">
        <div class="data-langs-title">{{currentLang.phrases['workspace-lang']}}:</div>
        <div class="data-langs-btns">
          <label *ngFor="let l of ll" (click)="selectedLang = l;"><input type="radio"
                                                                         [checked]="selectedLang.id === l.id">{{l.slug}}
          </label>
        </div>
      </div>
      <div class="data-tablewrap">
        <table class="data-table">
          <tr class="no-selection">
            <th><input type="checkbox" [(ngModel)]="allSelected" (ngModelChange)="onSelectAll();"></th>
            <th>{{currentLang.phrases['workspace-units-name']}}</th>
            <th>{{currentLang.phrases['workspace-units-short']}}</th>
            <th>{{currentLang.phrases['workspace-units-related-unit']}}</th>
            <th>{{currentLang.phrases['workspace-units-convert-ratio']}}</th>
            <th>{{currentLang.phrases['workspace-actions']}}</th>
          </tr>
          <ng-container *ngIf="xl.length">
            <tr *ngFor="let x of xl">
              <td><input type="checkbox" *ngIf="!x.defended" [(ngModel)]="x.__selected" (ngModelChange)="onSelect();">
              </td>
              <td>
                <div class="dt-inputwrap">
                  <ng-container *ngFor="let l of ll">
                    <input *ngIf="l.id === selectedLang.id" type="text" [(ngModel)]="x.translationByLang(l.id).name"
                           (change)="updateMlParam(x.translationByLang(l.id).id, 'name', x.translationByLang(l.id).name);">
                  </ng-container>
                </div>
              </td>
              <td>
                <ng-container *ngFor="let l of ll">
                  <input *ngIf="l.id === selectedLang.id" type="text" [(ngModel)]="x.translationByLang(l.id).short"
                         (change)="updateMlParam(x.translationByLang(l.id).id, 'short', x.translationByLang(l.id).short);">
                </ng-container>
              </td>
              <td>
                <div class="df-inputwrap">
                  <select [(ngModel)]="x.related_id" (change)="updateParam (x.id, 'related_id', x.related_id);">
                    <option [ngValue]="null">{{currentLang.phrases['workspace-none']}}</option>
                    <option *ngFor="let u of relatedOptions(x.id)"[ngValue]="u.id">
                      {{u.translationByLang(ll[0].id).name}} ({{u.translationByLang(ll[0].id).short}})
                    </option>
                  </select>
                </div>
              </td>
              <td>
                <div class="dt-inputwrap">
                  <input class="small" type="number" [(ngModel)]="x.conversion_ratio"
                         (change)="updateParam (x.id, 'conversion_ratio', x.conversion_ratio);">
                </div>
              </td>
              <td>
                <div class="dt-actions">
                  <div class="dt-btn edit" [title]="currentLang.phrases['workspace-edit']"
                       [routerLink]="homeUrl + '/edit/'+x.id"><span></span></div>
                  <div class="dt-btn delete" [title]="currentLang.phrases['workspace-delete']" *ngIf="!x.defended"
                       (click)="delete(x.id);"><span></span></div>
                </div>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!xl.length">
            <tr>
              <td>{{currentLang.phrases['workspace-empty']}}</td>
            </tr>
          </ng-container>
        </table>
      </div>
      <pagination [allLength]="allLength" [length]="length" [current]="currentPart"
                  (currentChanged)="currentPart = $event; rebuildList ();"></pagination>
    </ng-container>
    <ng-container *ngIf="!ready">
      <loading-table [columns]="4"></loading-table>
    </ng-container>
    <ng-container *ngIf="reloading">
      <div class="reloading"><span></span></div>
    </ng-container>
  </div>
</div>
